.cadastro-container{
    width: 100%;
    max-width: 500px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}


.cadastro-container .content{
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.img{
    margin-left: 10px;
}

.Nome{
    margin-top: 50px;
    margin-left: 3px;
}

.Cpf{
    margin-top: 10px;
    margin-left: 23px;
}

.Email{
    margin-top: 10px;
    margin-left: 5px;
}

.Bairro{
    margin-top: 10px;
    margin-left: 3px;
}

.Login{
    margin-top: 10px;
    margin-left: 8px;
}

.Senha{
    margin-top: 10px;
}
label.titulo{
    font-size: xx-large;
    margin-left: 11rem;
    
}