

.login-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    
    display: flex;
    align-items: center;
    justify-content: center;
}


.login{
    margin-top: 50px;
}
.senha{
    margin-top: 50px;
}





label{
    font-size: large;
    margin-right: 10px;
    
}


section.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    
}