

.login-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    
    display: flex;
    align-items: center;
    justify-content: center;
}


.login{
    margin-top: 50px;
}
.senha{
    margin-top: 10px;
}


Button.cadastrar{
    margin-left: 4rem;
    margin-top: 2rem;
}

Button.entrar{
    margin-top: 2rem;
}

label{
    font-size: large;
    margin-right: 10px;
    
}
